@import "base";
// 导航栏
.navigation{
    height:44px;
    background-color: white;
    #navigation{
        margin:0 auto;
        height:44px;
        width:1263px;
        background-color:#0092D8 ;
        position: relative;
        #left{
            float: left;
            a{
               img{
                   height:44px;
               }
            }    
        }
        #inner{
            float: left;
            ul{
                float: left;
                li{
                    float: left;                   
                    a{
                        display: block;
                        padding:0 30px;
                        line-height: 44px;
                        text-align: center;height: 44px;
                        color:#a3c3e6;                     
                    }               
                    a:hover {
                        color: white;
                    }
                }
            }
        }
        #right{
            position: absolute;
            right:0;
            span{
                position: relative;
                float: left;
                a{
                    display: block;
                    font-size: 20px;
                    height: 44px;
                    line-height: 44px;
                    color: white;
                    padding:0 20px;
                }
                #fdj{
                    height: 44px;
                    display: none;
                }

            }
            span:nth-of-type(1):hover a{
                display: none;
            }
            span:nth-of-type(1):hover #fdj{
                display: block;
            }
            span:nth-of-type(2){
                img{
                    z-index: 2;
                    position: absolute;
                    right:-60px;
                    display: none;
                }  
                a:hover{
                    background-color: #003B66;
                    display: block;
                }             
            }
            span:nth-of-type(2):hover img{
                display: block;
            }
            span:nth-of-type(3){
                aside{
                    text-align: center;
                    z-index: 2;                    
                    position: absolute;
                    right:0;
                    background-color: white;
                    font-size: 12px;
                    height:100;
                    width:300px;
                    display: none;
                    a{
                        color: #269BDB;
                        font-size: 12px;
                        padding: 0;
                        display: inline;  
                                             
                    }
                }               
            }
            span:nth-of-type(3):hover{
                background-color: #003B66;
            }
            span:nth-of-type(3):hover aside{              
                display: block;
            }
            span:nth-of-type(4){            
                ul{                                  
                    z-index: 2;                    
                    position: absolute;
                    right:0;
                    display: none;                   
                    li{                     
                        height: 40px;
                        width:260px;
                        background-color: white;
                        border-bottom:1px solid #D1D1D1;
                        display: block;
                        a{
                           font-size: 12px;
                           color: black;
                           line-height: 12px;
                           height:12px;
                           
                           padding:14px 0  14px 20px;
                        }
                    }

                }   
            }
            span:nth-of-type(4):hover{
                background-color: #003B66;
            }
            span:nth-of-type(4):hover ul{              
                display: block;
            }
        }
    }
}
// 通知栏
.Notice{
    background-color:white;
    #Notice{
        text-align: center;
        font-size: 12px;
        color: white;
        padding: 4px;
        margin:0 auto;
        height:40px;
        width:1263px;
        background-color: rgb(0, 59, 102);
        img{
            height:1260px;
            width:73px;
        }
    }
}
// 广告栏
.AD{
    background-color:white;
    #AD{
        margin:0 auto;
        height:73px;
        width:1263px;
        background-color: #5E11B5;
    }
}
// 选项栏
.surface{
	background:#F4F4F4;
	margin:0 auto;
	padding: 20px 0 0 0 ;
	.ka{
		margin:0 auto;
		background-color: #fff;
		font-size: 12px;
		border: 1px solid rgb(209, 204, 204);
		color: #333;
		height: 146px;
		width:1198px;
		.kaA{
			margin:10px 24px 10px 24px ;
			height: 21px;
			width:1150px;
			span{
				padding: 0 15px;
				color:#7E7E7E;
				font-size:10px;
			}
		}
		.kaB{
			margin:10px 24px 10px 24px ;
			height: 21px;
			width:1198px;
			span{
				color:#7E7E7E;
				padding-right:120px;
				float: left;
			}
			a{
				margin-right:40px;
				display: block;
				float: left;
			}
			a:last-child{
				color: #1f89b7;
			}

		}
		.kaC{
			margin:10px 24px 10px 24px ;
			height: 42px;
			width:1150px;
			span{
				color:#7E7E7E;
				padding-right:120px;
				float: left;
				padding-bottom:3px ;
			}
			a{
				margin-right:40px;
				display: block;
				float: left;
				padding-bottom:3px ;
			}
			a:nth-of-type(2){
				color: #1f89b7;
			}
			a:nth-of-type(12){
				margin-left:157px
			}
			a:last-child{
				color: #1f89b7;
			}
		}
	}
	.Select{
		margin:0 auto;
		background-color: #fff;
		font-size: 12px;
		border: 1px solid rgb(209, 204, 204);
		color: #333;
		padding:10px 24px;
		height:42px;
		width:1198px;
		margin-top:20px;
		a{
			display: block;
			float: left;
			margin-right:35px;
		}
		a:nth-of-type(1){
			color: #1f89b7;
		}
		div{
			float: right;
			input{
				background-color: white;
				display: block;
				float: left;
				margin-top:2px
			}
			span{
				float: left;
				padding:0 8px;
			}
		}	
	}
	ul{	
		width:1198px;
        margin:15px auto;
        height: 1000px;
		li{
			width:288px;
			height:488px;
			padding:0 14px 21px 14px;
			border:1px solid rgb(209, 204, 204);
            margin:10px 10px 10px 0;
            background-color: white;
            float: left;
            position: relative;
           a{
               display: block;
               height:240px;
               width:240px;
             
               margin: 30px 0;
               img{
                height:240px;
                width:240px;
               }
           }
           div:nth-of-type(1){
                font-size: 18px;
                height: 27px;
                color: #f60;
                span{
                    float: right;
                    font-size: 12px;
                    line-height: 27px;
                    color: #999;
                }
           }
           div:nth-of-type(2){
               overflow: hidden;
               height: 50px;
                a{
                    display: block;
                    height: 21px;
                    font-size: 14px;
                    margin: 8px auto 0;
                }
           }
           div:nth-of-type(3){
                padding-left: 10px
                
           }
           div:nth-of-type(4){
                width:34px;
                margin:10px 0 0 5px;
                height:18px;
                border: 1px solid #f60;
                padding: 1px 4px;
                font-size: 12px;
                color:#f60;
                line-height: 18px;;

           }
           div:nth-of-type(5){
               width:238px;
               height:18px;
               position: absolute;
               bottom:20px;
               span:nth-of-type(1){
                   margin-right:5px;
                   float: left;
               }
               input{
                   display: block;
                   float: left;
                   height:20px;  
               }
               span:nth-of-type(2){
                float: left;
                display: block;
                margin:0 110px 0 5px;
               }
               span:nth-of-type(3){
                   float: left;
                   display: block;
                margin-left:10px;
                 
               }
           }
           
		}
    }
    aside{
        width:1200px;
        margin:0 auto;
        height:150px;
        padding:50px 0 0 525px;
        
        div{
            float: left;
        width: 50px;
        height: 50px;
        line-height: 50px;
        background-color: white;
        text-align: center;
     

        }
        div:nth-of-type(2){
            background-color: #0093D5;
            color:white;
        }
    }
    
}





// footer
.footer{
    background-color: white;
    #footer{
        margin:0 auto;
        height:86px;
        width:1263px;
        background-color:white;
        div{
            margin:0 auto;
            height:86px;
            width:1200px;
            ul{
                height:43px;
                li{
                    float: left;
                    border-top:1px solid #848484;
                    border-bottom:1px solid #848484;
                    a{
                        display: block;
                        height:43px;
                        width:150px;                        
                        line-height: 43px;
                    }
                    a:hover{
                        color:rgb(189, 55, 55);
                    }
                }
            }
            aside{
                height:39px;
                line-height: 39px;
                span{
                    padding-right:10px;
                }
                span:nth-of-type(3){
                    a{
                        padding-left:20px;
                        height: 20px;
                        background:url(../images/3.jpg) no-repeat;
                        background-size:  9% 100%;
                    }
                }
                span:nth-of-type(4){
                    a{
                        padding-left:20px;
                        height: 20px;
                        background:url(../images/4.jpg) no-repeat ;
                        background-size:  9% 100%;
                    }
                }
            }
        }
    }
}
// 漂浮
.flotage{
    width:62px;
    height:260px;
    position: fixed;   
    z-index: 5;
    right:10px;
    bottom:10px;
    font-size:16px;
    div{
        border-top:1px solid white;
        height:64px;     
        background-color: rgba(83,83,83,0.7);            
    }
    div:nth-of-type(1){
        text-align: center;
        color: white;
        aside{
            font-size:16px;
            padding-top: 10px;
        }
        section{
            display: none;
            a{
                width:62px;
                display: block;
                height:64px;  
                padding-top:15px ;
                color:white;
            }
        }
    }
    div:nth-of-type(1):hover aside{
        display: none;     
    }
    div:nth-of-type(1):hover section{
        display: block;
        
    }
    div:nth-of-type(2){
        text-align: center;
        color: white;
        aside{
            font-size:16px;
            padding-top: 10px;
        }
        section{
            display: none;
            a{
                width:62px;
                display: block;
                height:64px;  
                padding-top:15px ;
                color:white;
            }
        }
    }
    div:nth-of-type(2):hover aside{
        display: none;     
    }
    div:nth-of-type(2):hover section{
        display: block;
        
    }
    div:nth-of-type(3){
        text-align: center;
        color: white;
       aside:nth-of-type(1){
           font-size:20px;
           padding-top: 10px;
       }
       aside:nth-of-type(3){
           position: absolute;
           right:62px;
           bottom:68px;
           display: none;
       }
    }
    div:nth-of-type(3):hover aside:nth-of-type(3){
        display: block;
    }
    div:nth-of-type(4){
        color:white;
        text-align: center;
        height:64px;  
        aside{
            padding-top:10px ;
        }
        section{
            display: none;      
            a{
                width:62px;
                display: block;
                height:64px;  
                padding-top:15px ;
                color:white;
            }
        }
    }
    div:nth-of-type(4):hover aside{
        display: none;
    }
    div:nth-of-type(4):hover section{
        display: block;   
    }
}